:root {
  --bg: rgb(0, 9, 21);
  --text: rgb(252, 192, 114);
  --bgSoft: rgb(15, 23, 143);
  --textSoft: rgb(255, 215, 53);
  --btn: rgb(232, 118, 13);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.container {
  background-color: rgb(1, 84, 90);
}
